#app {
}

#app .header .page-logo{
    cursor: pointer;
    width: 50px;
}

#app .header .page-logo:hover{
    animation: spin 1s;
}

#app .page{
    margin: 50px 40px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}